html {
  background-color: #C8D6AF;
}

body {
  margin: 0;
  padding: 0;
}

header {
  background-color: white;
  height: 55px;
  padding: 0px;
  margin: 0px;
  display: flex;
  justify-content: center;
}



nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  height: 100px;
}

ul {
  display: flex;
  justify-content: space-evenly;
  flex: 1;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  flex: 1;
  text-align: center;
}

a {
  text-decoration: none;
  color: #3e5e3c;
  display: block;
  padding: 1rem 0;
  font-size: 20px;
}

.logo {
  width: 300px;
  border: none;
}

h2 {
  color: #3e5e3c;
  background-color: white;
  width: 500px;
  height: 50px;
  display: block;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

section {
  color: #3e5e3c;
  padding: 2%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 1rem;
  align-items: center;
  max-width: 900px;
  margin: 0 auto;
  justify-content: center;
  text-align:center;
}

section h3 {
  padding-top: 3%;
}

section li {
  padding-bottom: 3%;
}

.info img{
  width: 350px;
  border-radius: 10px;
  margin-top: 10%;
}


.info a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 75px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: white;
  text-align: center;
  margin-top: 10%;
  color: #3e5e3c;
}

main {
  width: 600px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 5px;
}

div img{
  width: 350px;
  margin-top: 10%;
  border-radius:10px;
}

footer {
  background-color: white;
  height: 75px;
}


@media (max-width: 1200px) {}

@media (max-width: 800px) {}

@media (max-width: 768px) {}

@media (max-width: 480px) {}