
/* html {
    background-color: #2c1a1d;
    background-color: #FFFCD9;
    background-color: #104547;
    background-color: #8a897c;
    background-color: #6c464e;
} */


nav {
    display: flex;
}

ul {
    list-style-type: none;
}

li a{
    text-decoration: none;
    color: black;
}

.logo {
    width: 250px;
    border: none;
}

.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 2%;
}

.hero img{
    width: 600px;
    grid-column: 2;
    margin: 0;
    
}

.info {
    grid-column: 1;
}

.container img {
    width: 200px;
    border-style: solid;
    border-color:#104547;
    border-radius: 5%;
}


.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
